Source/DPTienda/Application Units/CierreDiaAU/Web References/wsPSug/PedidoSugerido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/Credito/PedidoSugerido" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/Credito/PedidoSugerido" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Credito/PedidoSugerido">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsFilePSug">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsFilePSug">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="InsertSoapIn">
    <part name="parameters" element="s0:Insert" />
  </message>
  <message name="InsertSoapOut">
    <part name="parameters" element="s0:InsertResponse" />
  </message>
  <portType name="PedidoSugeridoSoap">
    <operation name="Insert">
      <input message="s0:InsertSoapIn" />
      <output message="s0:InsertSoapOut" />
    </operation>
  </portType>
  <binding name="PedidoSugeridoSoap" type="s0:PedidoSugeridoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Credito/PedidoSugerido/Insert" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoSugerido">
    <port name="PedidoSugeridoSoap" binding="s0:PedidoSugeridoSoap">
      <soap:address location="http://dpws/Credito/PedidoSugerido.asmx" />
    </port>
  </service>
</definitions>