Source/DPTienda/Application Units/FacturasFormaPagoAU/Web References/wsSAP/sap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.dportenis.com.mx/Credito/SAP" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.dportenis.com.mx/Credito/SAP" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.dportenis.com.mx/Credito/SAP">
      <s:element name="SaveFIDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodCaja" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intFolioFactura" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strFIDocument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFIDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDistribuidorSAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AsociadoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistribuidorSAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistribuidorSAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SaveFIDocumentSoapIn">
    <part name="parameters" element="s0:SaveFIDocument" />
  </message>
  <message name="SaveFIDocumentSoapOut">
    <part name="parameters" element="s0:SaveFIDocumentResponse" />
  </message>
  <message name="GetDistribuidorSAPSoapIn">
    <part name="parameters" element="s0:GetDistribuidorSAP" />
  </message>
  <message name="GetDistribuidorSAPSoapOut">
    <part name="parameters" element="s0:GetDistribuidorSAPResponse" />
  </message>
  <portType name="Credito_x0020_._x003A__x003A__x003A_·_x0020_SAPSoap">
    <operation name="SaveFIDocument">
      <documentation>Guarda el SAP FIDocument de venta DPVale en CobranzaFactura.</documentation>
      <input message="s0:SaveFIDocumentSoapIn" />
      <output message="s0:SaveFIDocumentSoapOut" />
    </operation>
    <operation name="GetDistribuidorSAP">
      <documentation>Obtiene CodigoSAP de un Distribuidor DPVale por su Codigo de Asociado.</documentation>
      <input message="s0:GetDistribuidorSAPSoapIn" />
      <output message="s0:GetDistribuidorSAPSoapOut" />
    </operation>
  </portType>
  <binding name="Credito_x0020_._x003A__x003A__x003A_·_x0020_SAPSoap" type="s0:Credito_x0020_._x003A__x003A__x003A_·_x0020_SAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SaveFIDocument">
      <soap:operation soapAction="http://ws.dportenis.com.mx/Credito/SAP/SaveFIDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDistribuidorSAP">
      <soap:operation soapAction="http://ws.dportenis.com.mx/Credito/SAP/GetDistribuidorSAP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Credito_x0020_._x003A__x003A__x003A_·_x0020_SAP">
    <documentation>Proporciona métodos para manejo de Datos de SAP. &lt;br&gt; &lt;br&gt; Site: Credito &lt;br&gt; Web Service: SAP.asmx &lt;br&gt; Version: 1.0</documentation>
    <port name="Credito_x0020_._x003A__x003A__x003A_·_x0020_SAPSoap" binding="s0:Credito_x0020_._x003A__x003A__x003A_·_x0020_SAPSoap">
      <soap:address location="http://localhost/credito/sap.asmx" />
    </port>
  </service>
</definitions>