Source/DPTienda/Application Units/ClientesAsociadoAU/Web References/wsCRM.Clientes/clientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.dportenis.com.mx/CRM/Clientes" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.dportenis.com.mx/CRM/Clientes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.dportenis.com.mx/CRM/Clientes">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Data" type="tns:ClienteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClienteInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AlmacenID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlazaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CedulaFiscal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmitirleFacturas" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesColonia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesCiudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosFiscalesCodigoPostal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EsAsociado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsSocioClubDP" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsFacilito" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsFonacot" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordCreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordCreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordStatus" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Data" type="tns:ClienteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClienteResult" type="tns:ClienteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnabledRecordsOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientesQuickSearchSomeFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodPlaza" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SelCriterio" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="Criterio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientesQuickSearchSomeFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientesQuickSearchSomeFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientesQuickSearchALLFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodPlaza" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SelCriterio" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="Criterio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientesQuickSearchALLFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientesQuickSearchALLFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateClienteSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCliente" />
  </wsdl:message>
  <wsdl:message name="CreateClienteSoapOut">
    <wsdl:part name="parameters" element="tns:CreateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClienteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="UpdateClienteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="DeleteClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:message name="GetClienteSoapIn">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="GetClienteSoapOut">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="GetClientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientesQuickSearchSomeFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientesQuickSearchSomeFields" />
  </wsdl:message>
  <wsdl:message name="GetClientesQuickSearchSomeFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientesQuickSearchSomeFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientesQuickSearchALLFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientesQuickSearchALLFields" />
  </wsdl:message>
  <wsdl:message name="GetClientesQuickSearchALLFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientesQuickSearchALLFieldsResponse" />
  </wsdl:message>
  <wsdl:portType name="CRM_x0020_._x003A__x003A_·_x0020_ClientesSoap">
    <wsdl:operation name="CreateCliente">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Crea un nuevo Cliente.</documentation>
      <wsdl:input message="tns:CreateClienteSoapIn" />
      <wsdl:output message="tns:CreateClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Actualiza la información de un Cliente.</documentation>
      <wsdl:input message="tns:UpdateClienteSoapIn" />
      <wsdl:output message="tns:UpdateClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Elimina un Cliente.</documentation>
      <wsdl:input message="tns:DeleteClienteSoapIn" />
      <wsdl:output message="tns:DeleteClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene un Cliente.</documentation>
      <wsdl:input message="tns:GetClienteSoapIn" />
      <wsdl:output message="tns:GetClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene un dataset con todos los Clientes.</documentation>
      <wsdl:input message="tns:GetClientesSoapIn" />
      <wsdl:output message="tns:GetClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesQuickSearchSomeFields">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene un dataset con los campos ClienteID, Nombre y Apellidos de los clientes Filtrando por Nombre, Apellidosy Plaza.</documentation>
      <wsdl:input message="tns:GetClientesQuickSearchSomeFieldsSoapIn" />
      <wsdl:output message="tns:GetClientesQuickSearchSomeFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesQuickSearchALLFields">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene un dataset completo Filtrando por Nombre, Apellidos y Plaza.</documentation>
      <wsdl:input message="tns:GetClientesQuickSearchALLFieldsSoapIn" />
      <wsdl:output message="tns:GetClientesQuickSearchALLFieldsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRM_x0020_._x003A__x003A_·_x0020_ClientesSoap" type="tns:CRM_x0020_._x003A__x003A_·_x0020_ClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="CreateCliente">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/CreateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/GetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesQuickSearchSomeFields">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/GetClientesQuickSearchSomeFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesQuickSearchALLFields">
      <soap:operation soapAction="http://ws.dportenis.com.mx/CRM/Clientes/GetClientesQuickSearchALLFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRM_x0020_._x003A__x003A_·_x0020_Clientes">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Proporciona métodos para manejar Clientes.</documentation>
    <wsdl:port name="CRM_x0020_._x003A__x003A_·_x0020_ClientesSoap" binding="tns:CRM_x0020_._x003A__x003A_·_x0020_ClientesSoap">
      <soap:address location="http://ws.dpportal.com.mx/crm/clientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>