Source/DPTienda/AbonoCreditoDirectoTienda/Web References/wsEstadoDeCuentaAsociado/EstadodeCuentaAsociado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/Credito/EstadodeCuentaAsociado" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/Credito/EstadodeCuentaAsociado" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Credito/EstadodeCuentaAsociado">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="InsertMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Modulo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="oMovimientoInfo" type="s0:MovimientosInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MovimientosInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FechaMovimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoAlmacen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCaja" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FolioMovimiento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusRegistro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cargo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Abono" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AsociadoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Año" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertMovimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMovimientoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Modulo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AsociadoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovimientoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="InsertMovimientoSoapIn">
    <part name="parameters" element="s0:InsertMovimiento" />
  </message>
  <message name="InsertMovimientoSoapOut">
    <part name="parameters" element="s0:InsertMovimientoResponse" />
  </message>
  <message name="GetMovimientoSoapIn">
    <part name="parameters" element="s0:GetMovimiento" />
  </message>
  <message name="GetMovimientoSoapOut">
    <part name="parameters" element="s0:GetMovimientoResponse" />
  </message>
  <portType name="EstadodeCuentaAsociadoSoap">
    <operation name="InsertMovimiento">
      <documentation>Inserta un Movimiento de Crédito o DPVale</documentation>
      <input message="s0:InsertMovimientoSoapIn" />
      <output message="s0:InsertMovimientoSoapOut" />
    </operation>
    <operation name="GetMovimiento">
      <documentation>Carga los Movimientos de un Asociado</documentation>
      <input message="s0:GetMovimientoSoapIn" />
      <output message="s0:GetMovimientoSoapOut" />
    </operation>
  </portType>
  <binding name="EstadodeCuentaAsociadoSoap" type="s0:EstadodeCuentaAsociadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="InsertMovimiento">
      <soap:operation soapAction="http://tempuri.org/Credito/EstadodeCuentaAsociado/InsertMovimiento" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMovimiento">
      <soap:operation soapAction="http://tempuri.org/Credito/EstadodeCuentaAsociado/GetMovimiento" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EstadodeCuentaAsociado">
    <port name="EstadodeCuentaAsociadoSoap" binding="s0:EstadodeCuentaAsociadoSoap">
      <soap:address location="http://dpssvr/Credito/EstadodeCuentaAsociado.asmx" />
    </port>
  </service>
</definitions>