Source/DPTienda/Application/Web References/wsDHL/DHLCompleteSOAP_HTTP_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:dhl="http://www.dhl.com/datatypes" xmlns="http://www.dhl.com" elementFormDefault="unqualified" targetNamespace="http://www.dhl.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://10.200.3.18:7800/DHLCompleteSOAP_HTTP_Service?xsd=xsd3" namespace="http://www.dhl.com/datatypes" />
  <xsd:element name="ShipmentValidateErrorResponse" type="_ShipmentValidateErrorResponse">
    <xsd:annotation>
      <xsd:documentation>Shipment Validation error response root element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="_ShipmentValidateErrorResponse">
    <xsd:sequence>
      <xsd:element name="Response" type="dhl:ErrorResponse" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>