Source/DPTienda/Application/Web References/wsDHL/DHLCompleteSOAP_HTTP_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://dhl.dportenis.com" targetNamespace="http://dhl.dportenis.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SapZinfoPaqueteType">
    <xsd:sequence>
      <xsd:element name="IOficinaventas" type="xsd:string" />
      <xsd:element name="IPaqueteria" type="xsd:string" />
      <xsd:element name="IPedido" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SapZinfoPaqueteServ" type="tns:SapZinfoPaqueteType" />
</xsd:schema>